*{
    box-sizing:border-box;
}
body{
    margin: 0;
    background: rgb(12, 4, 4);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.home-icon{
    color:red;
    transition:color 0.3s;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #eee;
    margin: auto 30px;
    box-shadow: 3px 3px 10px #aeaeae, -4px -4px 10px white;
    text-align: center;
    line-height: 100px;
    font-size: 50px;  
    cursor: pointer;   
}


.home-icon:hover {
    color:rgb(37, 13, 170);
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}


.h1{
    text-align: center;
    font-size: 9vmin;
    color: #484872;
    margin: 20px auto;
    padding: 20px;
}
.container{
    max-width: 900px;
    margin: auto;
    background: #f52e2e;
    overflow: auto;
}
.img{
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 400px;
    
}
.img img{
    width: 100%;
    height: 50%;
}
.desc{
    font-size: 3vmin;
    padding: 15px;
    text-align: center;
}



@media only screen and (max-width:850px){
    body{
        background: rgb(94, 116, 116);
    }
    .container{
        background: black;
    }

    div{
        background: rgb(71, 177, 177);
    }
   
    .img {
        justify-content: center;
        align-items: center;
    }
    .img img {
        width: 90%;

    }

}

/*Animation*/

img{
    transition: transform .3s ease;
}
img:hover{
    transform: scale(1.1);
}
